.profile-content {
  --background: #f3e9e3; 
  color: #3e2723; 
  text-align: center;
  padding: 16px;
}

.profile-header {
  margin-top: 30px;

  h2 {
    font-weight: 600;
    font-size: 1.6rem;
    color: #4e342e; 
  }

  p {
    color: #6d4c41;
    font-size: 0.9rem;
  }
}

ion-card {
  --background: #fffaf5; 
  color: #4e342e;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(62, 39, 35, 0.2);

  ion-card-header {
    color: #5d4037; 
    font-weight: 500;
  }
}

.profile-buttons {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  .edit-btn {
    --background: #a1887f; 
    color: #fff;
    border-radius: 12px;
    font-weight: 600;
    transition: 0.3s;
    &:hover {
      filter: brightness(1.1);
    }
  }



  .logout-btn {
    --background: #5d4037; 
    color: #fff;
    border-radius: 12px;
    font-weight: 600;
    transition: 0.3s;
    &:hover {
      filter: brightness(1.15);
    }
  }
}

.edit-btn {
  --background: #a1887f !important; 
  --color: #ffffff !important;       
  border-radius: 12px !important;
}


.logout-btn {
  --background: #5d4037 !important; 
  --color: #ffffff !important;
  border-radius: 12px !important;
}

.edit-btn ion-icon,
.logout-btn ion-icon {
  color: #ffffff !important;
}



