<ion-header>
  <ion-toolbar>
    <ion-title>Livros Salvos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="savedbooks-content ion-padding">

    <ion-tabs>
    <ion-tab-bar slot="bottom" class="custom-tab-bar">
      <ion-tab-button tab="inicio" routerLink="/inicio" routerLinkActive="tab-active">
        <ion-icon name="home-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="explorar" routerLink="/explore" routerLinkActive="tab-active">
        <ion-icon name="search-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="biblioteca" routerLink="/library" routerLinkActive="tab-active">
        <ion-icon name="library-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="salvos" routerLink="/savedbooks" routerLinkActive="tab-active">
        <ion-icon name="bookmark-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  <h2 class="section-title">Seus Livros Salvos</h2>

  <div *ngIf="savedBooks.length === 0" class="empty">
    Nenhum livro salvo ainda. 💭
  </div>

  <ion-list>
    <ion-item *ngFor="let book of savedBooks" class="book-item">
      <ion-thumbnail slot="start" class="thumb">
      </ion-thumbnail>
      <ion-label>
        <h3 class="title">{{ book.title }}</h3>
        <p class="meta">{{ book.author }}</p>
        <p class="notes">{{ book.notes }}</p>
      </ion-label>
      <ion-button fill="clear" color="danger" (click)="removeBook(book)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>

