<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Explorar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding explore-content">
  <div class="search-wrap">
    <ion-searchbar
      placeholder="Pesquisar livros ou autores"
      [(ngModel)]="query"
      (ionInput)="onSearch($event)"
      debounce="300"
      showCancelButton="focus">
    </ion-searchbar>
  </div>

  <div *ngIf="loading" class="helper-txt">Buscando...</div>
  <div *ngIf="error" class="helper-txt error">{{ error }}</div>

  <div *ngIf="!loading && !error && query && books.length === 0" class="helper-txt">
    Nenhum resultado encontrado.
  </div>

  <ion-list class="results-list" *ngIf="books && books.length > 0">
    <ion-item *ngFor="let b of books" class="result-item" lines="none">
      <ion-thumbnail slot="start" class="thumb">
        <img [src]="b.thumbnail" alt="{{ b.title }}" />
      </ion-thumbnail>

      <ion-label class="result-label">
        <h2 class="title">{{ b.title }}</h2>
        <p class="authors">{{ b.authors?.length ? (b.authors.join(', ')) : 'Autor desconhecido' }}</p>
        <p class="meta" *ngIf="b.publishedDate">Publicado: {{ b.publishedDate }}</p>
      </ion-label>

      <ion-button slot="end" size="small" class="add-btn" (click)="addToLibrary(b)">
        Adicionar
      </ion-button>
    </ion-item>
  </ion-list>
  <ion-tabs>
  <ion-tab-bar slot="bottom" class="custom-tab-bar">

    <ion-tab-button tab="inicio" (click)="goToInicio()">  
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="explorar" (click)="goToExplore()">
      <ion-icon name="search-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="biblioteca" (click)="goToLibrary()">
      <ion-icon name="library-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="salvos" (click)="goToSaved()">
      <ion-icon name="bookmark-outline"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
</ion-content>


