
ion-button {
  --background: #a1866f;
  --color: #ffffff;
  border-radius: 50px;
  font-size: 0.8rem;
  padding: 0 16px;
}

ion-segment-button {
  --color: #000;                
  --color-checked: #a1866f;        
  --background: transparent;    
}

