/* Layout geral */
ion-content {
  --background: #f6f6f7;
  --padding-bottom: 90px;
  color: #333;
  font-family: 'Poppins', sans-serif;
}

.with-tabbar {
  --padding-bottom: 65px;
}

.thumb {
  width: 100px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  display: block;
}


/* Toolbar */
ion-toolbar {
  --background: #ffffff;
  --color: #1e1e1e;
  font-weight: 700;
  font-size: 20px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.05);
}

/* Cards */
ion-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.08);
  margin-bottom: 20px;
  z-index: 999 !important;
}

ion-card-content {
  padding: 14px;
}

ion-card h2 {
  margin-bottom: 6px;
  font-size: 16px;
  font-weight: 600;
  color: #1e1e1e;
}

ion-card p {
  font-size: 14px;
  color: #555;
  line-height: 1.4;
  z-index: 999 !important;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* Títulos */
h3 {
  margin: 16px 0 8px;
  font-size: 16px;
  font-weight: 700;
  color: #1e1e1e;
  text-align: center;
}

/* Lista de livros */
.book-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  padding: 10px;
}

.book-card {
  background: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
}

.thumb {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.book-info {
  padding: 8px;
}

.title {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  color: #1a1a1a;
}

.author {
  font-size: 12px;
  color: #666;
  margin: 4px 0;
}

.desc {
  font-size: 11px;
  color: #888;
}

.add-btn {
  --background: #8b6b3e;
  --color: #fff;
  margin: 6px;
  border-radius: 8px;
}



.bottom-tabs {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  --background: #8b6b3e;
  --color: #fff;
  --color-selected: #000000;
  border-top: 1px solid #e6e6e6;  display: flex;
  justify-content: space-around;
  z-index: 1000;
}

ion-tab-button {
  flex: 1;
  text-align: center;
  font-size: 12px;
  height: 48px !important;
}


/* Botão início */
.inicio-btn {
  --background: #8b6b3e;
  --border-radius: 8px;
  font-weight: bold;
  font-size: 12px;
  margin-top: 10px;
  z-index: 10;
  pointer-events: auto;
}

/* Responsividade */
@media (max-width: 360px) {
  ion-toolbar {
    font-size: 18px;
  }
  .book-btn {
    width: 56px;
    height: 56px;
    font-size: 10px;
  }
}


