<ion-header>
  <ion-toolbar>
    <ion-title>Capitu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-content>
      <h2 *ngIf="name">Bem-vindo(a), {{ name }}! 👋</h2>
      <h2 *ngIf="!name">Bem-vindo(a)! 👋</h2>

      <p>Baseado no seu histórico, encontramos algumas sugestões perfeitas para você.</p>
    </ion-card-content>
  </ion-card>

<h3>Baseado em suas leituras</h3>

<!-- Se houver recomendações -->
<ion-list *ngIf="recommendations.length > 0" class="book-list">
  <ion-item *ngFor="let book of recommendations" class="book-item">
    <ion-thumbnail slot="start" class="book-thumb">
      <img [src]="book.thumbnail" [alt]="book.title" />
    </ion-thumbnail>
    <ion-label class="book-label">
      <h2 class="book-title">{{ book.title }}</h2>
      <p class="book-author">{{ book.author }}</p>
      <p class="book-info">{{ book.info }}</p>
    </ion-label>
    <ion-button slot="end" fill="solid" size="small" class="book-btn">
      Adicionar
    </ion-button>
  </ion-item>
</ion-list>

<!-- Se não houver recomendações -->
<ion-card *ngIf="recommendations.length === 0">
  <ion-card-content class="ion-text-center">
    <p>Parece que você ainda não adicionou livros na biblioteca.</p>
    <p>Adicione livros para receber recomendações personalizadas!</p>
    <ion-button fill="solid" class="inicio-btn" (click)="goToLibrary()">
      Adicionar livros na biblioteca
    </ion-button>
  </ion-card-content>
</ion-card>


  <ion-tabs>
  <ion-tab-bar slot="bottom" class="custom-tab-bar">

    <ion-tab-button tab="inicio" href="/inicio">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="explorar" (click)="goToExplore()">
      <ion-icon name="search-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="biblioteca" (click)="goToLibrary()">
      <ion-icon name="library-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="salvos">
      <ion-icon name="bookmark-outline"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>

</ion-content>
