<ion-header>
  <ion-toolbar>
    <ion-title>Capitu</ion-title>
<ion-buttons slot="end">
  <ion-button (click)="goToProfile()">
    <ion-icon name="person-circle-outline"></ion-icon>
  </ion-button>
</ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding with-tabbar">

  <ion-card>
    <ion-card-content>
      <h2 *ngIf="name">Bem-vindo(a), {{ name }}! 👋</h2>
      <h2 *ngIf="!name">Bem-vindo(a)! 👋</h2>

      <p>Baseado no seu histórico, encontramos algumas sugestões perfeitas para você.</p>
    </ion-card-content>
  </ion-card>
  
<h3>Baseado em suas leituras</h3>

<div *ngIf="recommendations.length > 0" class="book-grid">
  <div *ngFor="let book of recommendations" class="book-card">

<img 
  class="thumb"
  [src]="book.coverUrl || generateThumbnail(book.title)"
/>

    <div class="book-info">
      <h2 class="title">{{ book.title }}</h2>
      <p class="author">{{ book.author }}</p>
      <p class="desc">{{ book.info }}</p>
    </div>

    <ion-button expand="block" size="small" class="add-btn" (click)="openReadingStatusModal(book)">
      Adicionar
    </ion-button>

  </div>
</div>



<!-- Se não houver recomendações -->
<ion-card class="ion-text-center" *ngIf="recommendations.length === 0" button="true">
  <ion-card-content>
    <p>Parece que você ainda não adicionou livros na biblioteca.</p>
    <p>Adicione livros para receber recomendações personalizadas!</p>
    <ion-button fill="solid" class="inicio-btn"  [routerLink]="['/library']">
      Adicionar livros na biblioteca
    </ion-button>
  </ion-card-content>
</ion-card>


<div class="bottom-tabs">
  <ion-tab-button tab="inicio" href="/inicio">
    <ion-icon name="home-outline"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="explorar" (click)="goToExplore()">
    <ion-icon name="search-outline"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="biblioteca" (click)="goToLibrary()">
    <ion-icon name="library-outline"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="salvos" (click)="goToSaved()">
    <ion-icon name="bookmark-outline"></ion-icon>
  </ion-tab-button>
</div>


</ion-content>
