<ion-header>
  <ion-toolbar>
    <ion-title>Capitu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-content>
      <h2 *ngIf="name">Bem-vindo(a), {{ name }}! 👋</h2>
      <h2 *ngIf="!name">Bem-vindo(a)! 👋</h2>

      <p>Baseado no seu histórico, encontramos algumas sugestões perfeitas para você.</p>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" class="add-btn"  fill="solid" (click)="goToAddBook()">
    Adicionar seu livro
  </ion-button>

  <h3>Baseado em suas leituras</h3>

  <ion-list class="book-list">
    <ion-item class="book-item">
      <ion-thumbnail slot="start" class="book-thumb">
        <img src="assets/img/fahrenheit.jpg" alt="Fahrenheit 451" />
      </ion-thumbnail>
      <ion-label class="book-label">
        <h2 class="book-title">Fahrenheit 451</h2>
        <p class="book-author">Ray Bradbury</p>
        <p class="book-info">⭐ 4.8 — Distopia, Ficção Científica</p>
      </ion-label>
      <ion-button slot="end" fill="solid" color="dark" size="small" class="book-btn">
        Adicionar à biblioteca
      </ion-button>
    </ion-item>

    <ion-item class="book-item">
      <ion-thumbnail slot="start" class="book-thumb">
        <img src="assets/img/nos.jpg" alt="Nós" />
      </ion-thumbnail>
      <ion-label class="book-label">
        <h2 class="book-title">Nós</h2>
        <p class="book-author">Yevgeny Zamyatin</p>
        <p class="book-info">⭐ 4.3 — Distopia, Clássico</p>
      </ion-label>
      <ion-button slot="end" fill="solid" color="dark" size="small" class="book-btn">
        Adicionar à biblioteca
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-tabs>
  <ion-tab-bar slot="bottom" class="custom-tab-bar">
    <ion-tab-button tab="inicio">
      <span class="tab-icon-wrap">
       <img src="assets/icon/home.png" alt="Início" class="tab-icon tab-icon--home" />
      </span>
    </ion-tab-button>

    <ion-tab-button tab="explorar" (click)="goToExplore()">
      <span class="tab-icon-wrap tab-icon-wrap--padded">
       <img src="assets/icon/explorar.png" alt="Explorar" class="tab-icon tab-icon--explore" />
      </span>
    </ion-tab-button>

    <ion-tab-button tab="biblioteca">
      <span class="tab-icon-wrap">
       <img src="assets/icon/biblioteca.png" alt="Biblioteca" class="tab-icon tab-icon--library" />
      </span>
    </ion-tab-button>

    <ion-tab-button tab="salvos">
      <span class="tab-icon-wrap">
        <img src="assets/icon/salvos.png" alt="Salvos" class="tab-icon tab-icon--saved" />
       </span>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>


</ion-content>
