<ion-content class="ion-padding">
  <div class="login-container">
   <div class="logo">
      <img src="assets/icon/logo.png" alt="Logo">
    </div>

    <h1>Capitu</h1>
    <p>Descubra seu próximo livro favorito</p>

    <!-- Formulário de Login -->
    <ion-item lines="none" class="input-item">
      <ion-input placeholder="Email" type="email"></ion-input>
    </ion-item>

    <ion-item lines="none" class="input-item">
      <ion-input placeholder="Senha" type="password"></ion-input>
    </ion-item>

    <ion-button expand="block" class="login-btn">Entrar</ion-button>

 
    <div class="links">
      <p>Esqueceu sua senha?</p>
      <p>Não tem uma conta?</p>
    </div>
    
    <!-- Botão para ir para a página de registro -->
    <ion-button class="register-btn" expand="block" fill="outline" type="button" (click)="goToRegister()">
    Criar conta
    </ion-button>
  </div>
</ion-content>
