<ion-content class="ion-padding">
  <div class="login-container">
    <div class="logo">
      <img src="../../assets/icon/logo.png" alt="Logo">
    </div>

    <h1>Capitu</h1>
    <p>Descubra seu próximo livro favorito</p>

    <!-- Formulário -->
    <ion-item lines="none" class="input-item">
      <ion-input [(ngModel)]="email" placeholder="Email" type="email"></ion-input>
    </ion-item>

    <ion-item lines="none" class="input-item">
      <ion-input [(ngModel)]="senha" placeholder="Senha" type="password"></ion-input>
    </ion-item>

    <ion-button expand="block" class="login-btn" (click)="login()">Entrar</ion-button>

    <!-- Links -->
   <div class="forgot-link">
    <a (click)="goToForgotPassword()">Esqueci minha senha</a>
  </div>

    <ion-button class="register-btn" expand="block" fill="outline" type="button" (click)="goToRegister()">
      Criar conta
    </ion-button>
  </div>

  <!-- TELA DE CARREGAMENTO (OVERLAY)-->
  <div *ngIf="isLoading" class="loading-overlay">
    <ng-lottie [options]="lottieOptions" class="loading-lottie"></ng-lottie>
  </div>
</ion-content>
