<ion-header>
  <ion-toolbar>
    <ion-title>Inserir código</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="box">
    <p>Insira o código que você recebeu por e-mail.</p>

    <ion-item lines="none">
      <ion-input placeholder="Código (6 dígitos)" [(ngModel)]="code"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-input placeholder="Email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-button expand="block" class="code-btn" (click)="verifyCode()" [disabled]="isLoading">
      {{ isLoading ? 'Verificando...' : 'Verificar código' }}
    </ion-button>

    <div class="hint">
      <p>Não recebeu? <a (click)="resend()">Reenviar código</a></p>
    </div>
  </div>


  <!-- TELA DE CARREGAMENTO (OVERLAY)-->
  <div *ngIf="isLoading" class="loading-overlay">
    <ng-lottie [options]="lottieOptions" class="loading-lottie"></ng-lottie>
  </div>
</ion-content>
