/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
/* @import '@ionic/angular/css/palettes/dark.system.css';*/
:root {
  --ion-background-color: #f5f5f5;  
  --ion-text-color: #000000;      

}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #f8f0e6 inset !important;
  box-shadow: 0 0 0px 1000px #f8f0e6 inset !important;
  -webkit-text-fill-color: #3b2b1b !important;
}

/* Estilos globais para bottom-tabs - garantem funcionamento no APK */
.bottom-tabs {
  position: fixed !important;
  bottom: 0 !important;
  left: 0 !important;
  width: 100% !important;
  background: #8b6b3e !important;
  color: #fff !important;
  border-top: 1px solid #e6e6e6 !important;
  display: flex !important;
  justify-content: space-around !important;
  z-index: 1000 !important;
  height: 48px !important;
  padding: 0 !important;
  margin: 0 !important;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1) !important;
}

.bottom-tabs ion-tab-button {
  flex: 1 !important;
  text-align: center !important;
  font-size: 12px !important;
  height: 48px !important;
  background: transparent !important;
  color: #fff !important;
  --background: transparent !important;
  --color: #fff !important;
  --color-selected: #fff !important;
  margin: 0 !important;
  padding: 8px !important;
  border: none !important;
  outline: none !important;
}

.bottom-tabs ion-tab-button ion-icon {
  color: #fff !important;
  font-size: 22px !important;
  fill: #fff !important;
}

/* Estilos específicos para Android/APK */
.md .bottom-tabs {
  background-color: #8b6b3e !important;
}

.md .bottom-tabs ion-tab-button {
  background-color: transparent !important;
  color: #ffffff !important;
}

.md .bottom-tabs ion-tab-button ion-icon {
  color: #ffffff !important;
}

/* Estilos específicos para iOS */
.ios .bottom-tabs {
  background-color: #8b6b3e !important;
  backdrop-filter: none !important;
}

.ios .bottom-tabs ion-tab-button {
  background-color: transparent !important;
  color: #ffffff !important;
}

.ios .bottom-tabs ion-tab-button ion-icon {
  color: #ffffff !important;
}

/* Estilos globais para ion-searchbar - garante funcionamento no APK */
ion-searchbar {
  --background: #ffffff !important;
  --color: #000000 !important;
  --placeholder-color: #666666 !important;
  --icon-color: #666666 !important;
  --clear-button-color: #666666 !important;
  display: block !important;
  visibility: visible !important;
  opacity: 1 !important;
  width: 100% !important;
  height: auto !important;
  min-height: 44px !important;
}

/* Estilos específicos para o searchbar no Android */
.md ion-searchbar {
  --background: #ffffff !important;
  --color: #000000 !important;
}

.md ion-searchbar .searchbar-input {
  background: #ffffff !important;
  color: #000000 !important;
}

/* Estilos específicos para o searchbar no iOS */
.ios ion-searchbar {
  --background: #ffffff !important;
  --color: #000000 !important;
}




