<ion-header>
  <ion-toolbar>
    <ion-title>Nova senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="box">
    <p>Escolha uma nova senha segura.</p>

    <ion-item lines="none">
      <ion-input type="password" placeholder="Nova senha" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-input type="password" placeholder="Confirmar senha" [(ngModel)]="confirmPassword"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="resetPassword()" [disabled]="loading">
      {{ loading ? 'Aguarde...' : 'Redefinir senha' }}
    </ion-button>
  </div>
</ion-content>
