<ion-header>
  <ion-toolbar>
    <ion-title>Criar Conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="register-container">
    <h1>Criar Conta</h1>
    <p>Preencha seus dados para começar</p>

    <ion-item lines="none" class="input-item">
      <ion-input placeholder="Nome" type="text" [(ngModel)]="nome"></ion-input>
    </ion-item>

    <ion-item lines="none" class="input-item">
      <ion-input placeholder="Email" type="email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item lines="none" class="input-item">
      <ion-input placeholder="Senha" type="password" [(ngModel)]="senha"></ion-input>
    </ion-item>

    <ion-item lines="none" class="input-item">
      <ion-input placeholder="Confirmar Senha" type="password" [(ngModel)]="confirmarSenha"></ion-input>
    </ion-item>

    <!-- Botão Criar Conta -->
    <ion-button expand="block" class="register-btn" (click)="criarConta()">Criar conta</ion-button>

    <!-- Link para Login -->
    <div class="links">
      <span class="conta-text">Já tem uma conta?</span>
      <ion-button class="entrar-btn" fill="clear" size="small" (click)="goToLogin()">
        Entrar
      </ion-button>
    </div>
  </div> <!-- fecha register-container -->
</ion-content>
